@font-face {
    font-family: 'Loos Normal';
    src: url('LoosNormal-Bold.woff2') format('woff2'),
        url('LoosNormal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Loos Normal';
    src: url('LoosNormal-Black.woff2') format('woff2'),
        url('LoosNormal-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Loos Normal';
    src: url('LoosNormal-Light.woff2') format('woff2'),
        url('LoosNormal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Loos Normal';
    src: url('LoosNormal-Medium.woff2') format('woff2'),
        url('LoosNormal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Loos Normal';
    src: url('LoosNormal-ExtraLight.woff2') format('woff2'),
        url('LoosNormal-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Loos Normal';
    src: url('LoosNormal-Regular.woff2') format('woff2'),
        url('LoosNormal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Loos Normal';
    src: url('LoosNormal-Thin.woff2') format('woff2'),
        url('LoosNormal-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

